<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лендинг-страница</title>
</head>
<body>
    <header>
        <nav>
            <a href="https://google.com">Партнеры</a>
            <a href="/">Главная</a>
            <a href="/catalog">Каталог</a>
            <a href="/contacts">Контакты</a>
        </nav>
    </header>
<main>
    <h1>Наши контакты</h1>
    <h2>☏ +7-777-777-77-77</h2>
    <h2>✉ test@testmail.test</h2>
    <h2>⟟ Россия, г. Москва, ул. Пушкина, дом Колотушкина</h2>
</main>
</body>
</html>