<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лендинг-страница</title>
</head>
<body>
    <header>
        <nav>
            <a href="https://google.com">Партнеры</a>
            <a href="/">Главная</a>
            <a href="/catalog">Каталог</a>
            <a href="/contacts">Контакты</a>
        </nav>
    </header>
<main>
    <h1>Сайт духов "Душнила"</h1>
    <h3>Лучшая парфюмерия</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At, exercitationem 
        dolorum sunt enim necessitatibus fugit ipsa. Libero quas commodi labore fuga 
        distinctio laboriosam asperiores! Ab nihil consequatur velit fugit odio?
    </p>
    <img src="https://www.orental.ru/upload/catalog/chanel/gardenia.jpg" alt="Духи">
</main>
</body>
</html>